body {
	display: grid;
	grid-template-rows: max-content auto;
	grid-template-areas: 
		"head"
		"content";
	gap: 0.5em;
	height: 100vh;

	@media screen and (max-width: 899px) {
		&:has(aside) {
			grid-template-areas: 
				"head"
				"editor";
			
			main {
				display: none;
			}

			aside {
				display: flex;
			}
		}
	}


	@media screen and (min-width: 900px) {
		& {
			grid-template-areas: 
				"head head"
				"content editor";
		}

		#editor-placeholder {
			display: grid;
		}
	}
}

header {
	grid-area: head;
}

main {
	grid-area: content;
}

a.item {
	text-decoration: none;
	color: currentColor;
}

#editor-placeholder {
	grid-area: editor;
	display: none;
	justify-items: center;
	align-items: center;
	font-style: italic;
	color: var(--secondary-text-color);
}

aside {
	grid-area: editor;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	gap: 1.5em;
	padding: 0 0.5em 0.25em;
	overflow: hidden auto;

	& h2 {
		display: flex;
		flex-direction: row;
		gap: 0.25em;
		align-items: center;
		font-weight: 600;
		font-size: 120%;
	}

	& .title {
		display: flex;
		flex-flow: row;
		align-items: center;
		gap: 0.5em;
	}

	& h3 {
		display: inline;
		font-weight: 500;
		font-size: 100%;
		font-variant: small-caps;
	}

	& details {
		& summary {
			list-style: none;
			display: flex;
			flex-flow: row nowrap;
			gap: 1ch;
			margin-bottom: 0.25em;

			&::-webkit-details-marker {
				display: none;
			}

			details[open] > & > svg {
				rotate: 90deg;
			}

			& svg {
				display: inline;
			}
		}
	}
	
	& form {
		padding: 0.5em 0.75em;
		background: var(--secondary-bg-color);
		border: thin solid var(--secondary-bg-color);
	}

	& #banking-details {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		margin-right: 0.25em;
		margin-top: 0.25em;
		align-items: center;

		& tr {
			display: flex;
			flex-direction: column;
			
			& + tr {
				margin-top: 0.5em;
			}
		}
		
		& td {
			line-height: 1.2;
			
			&:nth-of-type(1) {
				font-size: 80%;
				font-variant: small-caps;
				color: var(--secondary-text-color);
			}
		}
	}
}
	
.credit {
	font-size: 75%;
}

#deposit-transaction,
#withdraw-transaction {
	--bg: color-mix(in srgb, var(--secondary-bg-color), var(--selected-color) 15%);
	--input-background: var(--bg);
	--input-label: color-mix(in srgb, var(--input-border), var(--highlight-color) 20%);
	--input-border-selected: color-mix(in srgb, var(--selected-color), var(--highlight-color) 40%);
	--input-label-selected: color-mix(in srgb, var(--selected-color), var(--highlight-color) 40%);

	border: thin solid var(--selected-color);
	background: var(--bg);

	grid-area: new-transaction;

	& .buttons {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		overflow-x: auto;
		gap: 0.5em;

		& .button {
			--bg: color-mix(in srgb, var(--secondary-bg-color), var(--selected-color) 40%);
		}
	}
}

#withdraw-transaction {
	--selected-color: var(--negative-color);
}
