<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'en' }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
	<title>{% block title %}{% endblock title %}</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'base.css' %}">

	<link rel="icon" type="image/png" href="{% static 'favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />

	<meta
		name="theme-color"
		content="rgb(255, 255, 255)"
		media="(prefers-color-scheme: light)" />
	<meta
		name="theme-color"
		content="rgb(30, 30, 30)"
		media="(prefers-color-scheme: dark)" />
    <meta name="color-scheme" content="light dark">

	{% if js_config %}
	{{ js_config|json_script:"js-config" }}
	{% endif %}
	{% block import %}{% endblock import %}
</head>
<body>
    <div class="visually-hidden">
        {% icon_masks %}
    </div>
	{% block body %}{% endblock body %}
     <script>
        document.querySelectorAll('.js-show').forEach(e => e.hidden = false)
        document.querySelectorAll('.js-hide').forEach(e => e.style.display = 'none')
    </script>
</body>
</html>