<tr draggable="true" {% if subform.initial|length > 0 %}data-prefilled{% endif %}>
    <td class="icon-container drag-gripper">
        {% icon "grip-vertical" %}
        {{ subform.order.as_hidden }}
    </td>
    <td class="vstack drag-arrows">
        <button type="button" class="icon-button" data-dir="up">
            {% icon "chevron-up" %}
        </button>
        <button type="button" class="icon-button" data-dir="down">
            {% icon "chevron-down" %}
        </button>
    </td>
    <td>{{ subform.amount }}</td>
    <td>{{ subform.ingredient }}</td>
    <td>{{ subform.instruction }}</td>
    <td class="negative">
        <label class="icon-checkbox icon-button">
            {{ subform.DELETE }}
            {% icon "trash-2" %}
        </label>
    </td>
    {% for field in subform.hidden_fields %}
    {{ field }}
    {% endfor %}
</tr>