<li draggable="true">
    <span class="drag-indicator">
        {% icon "grip-vertical" %}

        <div style="align-items: center">
            <button type="button" data-dir="up" class="slim transparent vcenter button">
                {% icon "chevron-up" %}
            </button>
            <button type="button" data-dir="down" class="slim transparent vcenter button">
                {% icon "chevron-down" %}
            </button>
        </div>
    </span>
    {{ form.order.as_hidden }}
    {{ form.id }}
    {{ form.recipe }}
    <div class="amount">
        {{ form.amount }}
    </div>  
    <div class="ingredient">
        {{ form.ingredient }}
    </div>
    <div class="instruction">
        {{ form.instruction }}
    </div>
    <label class="delete">
        {{ form.DELETE }}
        {% icon "trash-2" %}
    </label>
</li>
