<tr draggable="true">
    <td class="icon-container drag-gripper">
        {% icon "grip-vertical" %}
        {{ subform.order.as_hidden }}
    </td>
    <td class="vstack drag-arrows">
        <button type="button" class="icon-button" data-dir="up">
            {% icon "chevron-up" %}
        </button>
        <button type="button" class="icon-button" data-dir="down">
            {% icon "chevron-down" %}
        </button>
    </td>
    <td>{{ subform.amount }}</td>
    <td>{{ subform.ingredient }}</td>
    <td>{{ subform.instruction }}</td>
    <td class="icon-checkbox negative">
        {{ subform.DELETE }}
        <label class="icon-button" for="{{ subform.DELETE.id_for_label }}">
            {% icon "trash-2" %}
        </label>
    </td>
    {% for field in subform.hidden_fields %}
    {{ field }}
    {% endfor %}
</tr>