{% extends 'ledger/account_list.html' %}

{% load ledger %}
{% load static %}
{% load i18n %}

{% block editor %}
<aside>
	<div class="title">
		<h2>{% translate "New Account" %}</h2>
		<div style="flex-grow: 1"></div>
		<a href="{% url 'ledger:account_list' %}" class="slim transparent center button">
			{% icon "x" %}
		</a>
	</div>
	<details open>
		<summary>
			<h3>{% translate "Account" %}</h3>
			{% icon "chevron-right" %}
		</summary>
		<form class="pretty-form" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" class="primary button" value="{% translate "Save" %}">
		</form>
	</details>
</aside>
{% endblock editor %}