{% extends 'ledger/account_list.html' %}

{% load ledger %}
{% load static %}

{% block import %}
	<link rel="stylesheet" href="{% static 'ledger/transaction_history.css' %}">
	<script type="module" src="{% static 'ledger/account_detail.js' %}"></script>
	<script type="module" src="{% static 'ledger/transaction.js' %}"></script>
	{{ api|json_script:"api" }}
	{{ block.super }}
{% endblock import %}

{% block editor %}
<aside>
	<div class="title">
		<h2>
			{% if account.member %}
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="badge lucide lucide-settings">
				<use href="{% static 'ledger/badge.svg' %}#badge" width="24" height="24" />
			</svg>
			{% endif %}
			{{ account.name }}
		</h2>
		<div style="flex-grow: 1"></div>
		<a href="{% url 'account_list' %}" class="slim transparent center button">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
		</a>
	</div>
	<details {% if form.errors %}open{% endif %}>
		<summary>
			<h3>Account</h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
		</summary>
		<form method="post">
			{% csrf_token %}
			{{ form }}
			{% if form.has_enabled_fields %}
			<input type="submit" class="primary button" value="Save">
			{% endif %}
		</form>
	</details>
	{% if allow_custom_transaction %}
	<details open>
		<summary>
			<h3>Einzahlung</h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
		</summary>
		<form action="{% url 'api_deposit' %}" method="POST" id="deposit-transaction" class="transaction">
			{% csrf_token %}
			{% idempotency_key %}
			{{ deposit_form }}

			<div class="buttons">
				<button type="button" class="button" data-amount="1000">+10€</button>
				<button type="button" class="button" data-amount="5000">+50€</button>
			</div>
			<button type="submit" id="confirm-deposit" class="primary button">Bestätigen</button>
		</form>
	</details>
	<details open>
		<summary>
			<h3>Auszahlung</h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
		</summary>

		<form action="{% url 'api_withdraw' %}" method="post" id="withdraw-transaction" class="transaction">
			{% csrf_token %}
			{% idempotency_key %}
			{{ withdraw_form }}

			<div class="buttons">
				<button type="button" class="button" data-amount="1000">+10€</button>
				<button type="button" class="button" data-amount="5000">+50€</button>
				<button type="button" class="button" id="withdraw-all">Alles</button>
			</div>
			<button type="submit" id="confirm-withdraw" class="primary button">Bestätigen</button>
		</form>
	</details>
	{% endif %}

	<details open>
		<summary>
			<h3>Transaktionen</h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>		
		</summary>
		<ul id="transactions">
			{% include "ledger/snippets/transaction_history.html" with transactions=transactions only %}
		</ul>
	</details>
</aside>
{% endblock editor %}
