{% extends 'ledger/account_list.html' %}

{% load ledger %}
{% load static %}

{% block editor %}
<aside>
	<div class="title">
		<h2>Neuer Account</h2>
		<div style="flex-grow: 1"></div>
		<a href="{% url 'account_list' %}" class="slim transparent center button">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
		</a>
	</div>
	<details open>
		<summary>
			<h3>Account</h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
		</summary>
		<form method="post">
			{% csrf_token %}
			{% comment %} {{ form.name.label_tag }}{{ form.name }}
			<label>Balance</label><span class="balance">{{ object.current_balance }}</span>
			{{ form.credit.label_tag }}{{ form.credit }}
			{{ form.group.label_tag }}{{ form.group }}
			
			{{ form.member.label_tag }}{{ form.member }}
			{{ form.permanent.label_tag }}{{ form.permanent }} {% endcomment %}
			{{ form }}
			<input type="submit" class="primary button" value="Save">
		</form>
	</details>
</aside>
{% endblock editor %}