{% extends 'index.html' %}
{% load i18n %}

{% block title %}{% translate "Account-Liste" %}{% endblock title %}

{% block import %}
	{% load static %}
	{% load ledger %}

	<link rel="stylesheet" href="{% static 'ledger/index.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/account.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/item_grid.css' %}">
	{{ block.super }}
{% endblock import %}

{% block links %}
<li><a href="{% url 'main' %}">{% translate "Anschreibeliste" %}</a></li>
{{ block.super }}
{% endblock links %}

{% block content %}
<main>
	<div class="group-list" id="accounts">
		{% include 'ledger/snippets/accounts.html' with items=account_list selected=account url='account_detail' show_credit=True create_account=True require_empty_group=True only %}
	</div>
</main>
{% block editor %}{% endblock editor %}
{% endblock content %}
