{% extends 'ledger/account_list.html' %}

{% load ledger %}
{% load static %}
{% load i18n %}

{% block import %}
	<link rel="stylesheet" href="{% static 'ledger/transaction_history.css' %}">
	<script type="module" src="{% static 'ledger/account_detail.js' %}"></script>
	<script type="module" src="{% static 'ledger/transaction.js' %}"></script>
	{{ api|json_script:"api" }}
	{{ block.super }}
{% endblock import %}

{% block editor %}
<aside>
	<div class="title">
		<h2>
			{% if account.member %}
            {% icon "badge" class="badge" %}
			{% endif %}
			{{ account.display_name }}
		</h2>
		<div style="flex-grow: 1"></div>
		<a href="{% url 'account_list' %}" class="slim transparent center button">
			{% icon "x" %}
		</a>
	</div>
	<details {% if form.errors %}open{% endif %}>
		<summary>
			<h3>{% translate "Account" %}</h3>
			{% icon "chevron-right" %}
		</summary>
		<form class="pretty-form" method="post">
			{% csrf_token %}
			{{ form }}
			{% if form.has_enabled_fields %}
			<input type="submit" class="primary button" value="{% translate "Save" %}">
			{% endif %}
		</form>
	</details>

	{% if deposit_form %}
	<details>
		<summary>
			<h3>{% translate "Deposit" %}</h3>
			{% icon "chevron-right" %}
		</summary>
		<form action="{% url 'api_deposit' %}" method="POST" id="deposit-transaction" class="pretty-form">
			{% csrf_token %}
			{% idempotency_key %}
			<div>
				{{ deposit_form.amount.as_field_group }}
			</div>
			
			<div class="buttons">
				<button type="button" class="button" data-amount="500">+5€</button>
				<button type="button" class="button" data-amount="1000">+10€</button>
				<button type="button" class="button" data-amount="5000">+50€</button>
			</div>

			<div>
				{{ deposit_form.reason.as_field_group }}
				{% for field in deposit_form.hidden_fields %}{{ field }}{% endfor %}
			</div>
			
			<button type="submit" id="confirm-deposit" class="primary button">{% translate "Confirm" %}</button>
		</form>
		{% if banking_details and account.permanent %}
		<div id="banking-details">
			<table>
				<tr>
					<td>{% trans "Name" %}</td>
					<td>{{ banking_details.name }}</td>
				</tr>
				<tr>
					<td>{% trans "IBAN" %}</td>
					<td>{{ banking_details.iban }}</td>
				</tr>
				<tr>
					<td>{% trans "Invoice Text" %}</td>
					<td>{{ banking_details.invoiceText }}</td>
				</tr>
			</table>
			{{ banking_details.qr_code|safe }}
		</div>
		{% endif %}
	</details>
	{% endif %}

	{% if withdraw_form %}
	<details>
		<summary>
			<h3>{% translate "Withdraw" %}</h3>
			{% icon "chevron-right" %}
		</summary>
		
		<form action="{% url 'api_withdraw' %}" method="post" id="withdraw-transaction" class="pretty-form">
			{% csrf_token %}
			{% idempotency_key %}
			<div>
				{{ withdraw_form.amount.as_field_group }}
			</div>
			
			<div class="buttons">
				<button type="button" class="button" data-amount="1000">+10€</button>
				<button type="button" class="button" data-amount="5000">+50€</button>
				{# Translators: Used to withdraw the entire deposited money #}
				<button type="button" class="button" id="withdraw-all">{% translate "All" %}</button>
			</div>

			<div>
				{{ withdraw_form.reason.as_field_group }}
				{% for field in withdraw_form.hidden_fields %}{{ field }}{% endfor %}
			</div>
			
			<button type="submit" id="confirm-withdraw" class="primary button">{% translate "Confirm" %}</button>
		</form>
	</details>
	{% endif %}

	<details open>
		<summary>
			<h3>{% translate "Transactions" %}</h3>
			{% icon "chevron-right" %}
		</summary>
		<ul id="transactions">
			{% include "ledger/snippets/transaction_history.html" with transactions=transactions revert_form="transaction-revert" only %}
		</ul>
		<form id="transaction-revert" action="{% url 'account_revert' account.pk %}" method="POST" >
			{% csrf_token %}
			{% idempotency_key %}
		</form>
	</details>
</aside>
{% endblock editor %}
