{% extends 'index.html' %}
{% load i18n %}

{% block import %}
	{% load static %}
	{% load ledger %}

	<link rel="stylesheet" href="{% static 'ledger/index.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/transaction_history.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/item_grid.css' %}">
	

	<script type="module" src="{% static 'ledger/main.js' %}"></script>
	<script type="module" src="{% static 'ledger/accounts.js' %}"></script>
	<script type="module" src="{% static 'ledger/transaction.js' %}"></script>

	{{ api|json_script:"api" }}
{% endblock import %}

{% block content %}
<div id="tabs" data-active-slide="products">
	<style>
		[data-active-slide="products"] .slide-indicator[data-slide="products"],
		[data-active-slide="accounts"] .slide-indicator[data-slide="accounts"] {
			--bg: var(--secondary-bg-color);
		}
	</style>

	{% translate "Products" as the_product %}
	{% translate "Accounts" as the_account %}

	<div class="slide-bar">
		<button class="slide-indicator transparent button" data-slide="products">{{ the_product }}</button>
		<button class="slide-indicator transparent button" data-slide="accounts">{{ the_account }}</button>
		<div style="flex-grow:1"></div>
		<div hidden>
			<label>
				<input type="search" id="item-search" placeholder="{% translate "Search..." %}" autocomplete="off">
			</label>
		</div>
		<div style="flex-grow:1"></div>
		<label class="center button">
			<input type="checkbox" class="css-hidden" id="lock-account" autocomplete="off">
            {% icon "user-lock" %}
		</label>
		<label class="center button">
			<input type="checkbox" class="css-hidden" name="invert_member" form="new-transaction">
            {% icon "badge-update" %}
		</label>
		<div id="transaction-multiplier">
			<button type="button" class="transparent slim center button" data-increment="-1">
                {% icon "minus" %}
            </button>
			<span class="css-hidden" aria-hidden="true"  inputmode="numeric" contenteditable>1</span>
			<label>
				<span class="visually-hidden">{% translate "Amount:" %}</span>
				<input type="number" name="amount" value="1" form="new-transaction" min="1">
			</label>
			<button type="button" class="transparent slim center button" data-increment="1">
                {% icon "plus" %}
            </button>
		</div>
	</div>

	<div class="slideshow">
		<div class="slide group-list" id="products" data-slide="products">
			<h2 class="visually-hidden">{{ the_product }}</h2>
			{% include 'ledger/snippets/products.html' with items=product_list target_form="new-transaction" only %}
		</div>
		
		<div class="slide group-list" id="accounts" data-slide="accounts">
			<h2 class="visually-hidden">{{ the_account }}</h2>
			{% include 'ledger/snippets/accounts.html' with items=account_list target_form="new-transaction" only %}
		</div>
	</div>
</div>
<form action="/transaction/order/" id="new-transaction" class="transaction" method="POST">
	{% csrf_token %}
	<input type="hidden" name="idempotency-key" value="{{ idempotency_key }}">

	<span class="account">
		<output name="selected_account" value=""></output>
		<span class="empty">{% translate "Select account" %}</span>
	</span>
	<span class="product reason">
		<output name="selected_product" value=""></output>
		<span class="empty">{% translate "Select product" %}</span>
	</span>

	<button type="reset" class="undo icon-button">
        {% icon "trash-2" %}
	</button>

	<label class="icon-button" id="expand">
		<input type="checkbox">
        {% icon "chevron-up" %}
	</label>

	<button type="submit" class="slim transparent center button">
        {% icon "forward" %}
	</button>
</form>
<div>
	<h2 class="visually-hidden">{% translate "Transactions" %}</h2>
	<form id="transaction-revert" action="{% url 'ledger:transaction_revert' %}" method="POST" >
		{% csrf_token %}
		{% idempotency_key %}
	<ul id="transactions">
		{% include 'ledger/snippets/transaction_history.html' with transactions=transaction_list revert_form="transaction-revert" only %}
	</ul>
	</form>
</div>

{% endblock content %}
