{% extends 'index.html' %}

{% block title %}Anschreibeliste{% endblock title %}

{% block import %}
	{% load static %}
	{% load ledger %}

	<link rel="stylesheet" href="{% static 'ledger/index.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/transaction_history.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/item_grid.css' %}">
	

	<script type="module" src="{% static 'ledger/main.js' %}"></script>
	<script type="module" src="{% static 'ledger/accounts.js' %}"></script>
	<script type="module" src="{% static 'ledger/transaction.js' %}"></script>

	{{ api|json_script:"api" }}
{% endblock import %}

{% block links %}
	{{ block.super }}
	<li><a href="{% url 'account_list' %}">Account-Liste</a></li>
{% endblock links %}

{% block content %}
<main data-active-slide="products">
	<style>
		[data-active-slide="products"] .slide-indicator[data-slide="products"],
		[data-active-slide="accounts"] .slide-indicator[data-slide="accounts"] {
			--bg: var(--secondary-bg-color);
		}
	</style>

	<div class="slide-bar">
		<button class="slide-indicator transparent button" data-slide="products">Getränke</button>
		<button class="slide-indicator transparent button" data-slide="accounts">Accounts</button>
		<div style="flex-grow:1"></div>
		<div hidden>
			<label>
				<input type="search" id="item-search" placeholder="Search an item..." autocomplete="off">
				<button type="button" class="transparent slim center button">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
				</button>
			</label>
		</div>
		<div style="flex-grow:1"></div>
		<label class="center button">
			<input type="checkbox" class="css-hidden" name="invert_member" form="new-transaction">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings">
				<use href="{% static 'ledger/badge-update.svg' %}#badge-update" width="24" height="24" />
			</svg>
		</label>
		<div id="transaction-multiplier">
			<span class="css-hidden" aria-hidden="true"  inputmode="numeric" contenteditable>1</span>
			<label>
				<span class="visually-hidden">Amount:</span>
				<input type="number" name="amount" value="1" form="new-transaction" min="1">
			</label>
		</div>
	</div>

	<div class="slideshow">
		<div class="slide group-list" id="products" data-slide="products">
			<h2 class="visually-hidden">Getränke</h2>
			{% include 'ledger/snippets/products.html' with items=product_list target_form="new-transaction" only %}
		</div>
		
		<div class="slide group-list" id="accounts" data-slide="accounts">
			<h2 class="visually-hidden">Accounts</h2>
			{% include 'ledger/snippets/accounts.html' with items=account_list target_form="new-transaction" only %}
		</div>
	</div>
</main>
<form action="/transaction/order/" id="new-transaction" class="transaction" method="POST">
	{% csrf_token %}
	<input type="hidden" name="idempotency-key" value="{{ idempotency_key }}">

	<span class="account">
		<span class="empty">Select account</span>
		<output name="selected_account" value=""></output>
	</span>
	<span class="product reason">
		<span class="empty">Select product</span>
		<output name="selected_product" value=""></output>
	</span>

	<button type="reset" class="undo transparent slim center button">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
	</button>

	<label class="transparent slim center button" id="expand">
		<input type="checkbox">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
	</label>

	<button type="submit" class="slim transparent center button">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-forward-icon lucide-forward"><polyline points="15 17 20 12 15 7"/><path d="M4 18v-2a4 4 0 0 1 4-4h12"/></svg>
	</button>
</form>
<div>
	<h2 class="visually-hidden">Transactions</h2>
	<ul id="transactions">
		{% include 'ledger/snippets/transaction_history.html' with transactions=transaction_list %}
	</ul>
</div>

{% endblock content %}
