{% extends 'index.html' %}
{% load i18n %}

{% block import %}
	{% load static %}
	{% load ledger %}

	<link rel="stylesheet" href="{% static 'ledger/index.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/transaction_history.css' %}">
	<link rel="stylesheet" href="{% static 'ledger/item_grid.css' %}">
	

	<script type="module" src="{% static 'ledger/main.js' %}"></script>

	{{ api|json_script:"api" }}

    <meta name="apple-mobile-web-app-capable" content="yes">
{% endblock import %}

{% block content %}

{% load_icons "badge" "undo-2" class="visually-hidden" %}

{% translate "Products" as the_product %}
{% translate "Accounts" as the_account %}

<div id="slide-bar" class="hstack center-across ph-m gap-m">
    <style>
		main:has([data-active-slide="products"]) .slide-indicator[data-slide="products"],
		main:has([data-active-slide="accounts"]) .slide-indicator[data-slide="accounts"] {
			--bg: var(--secondary-bg-color);
		}
    </style>
    <div class="hstack">
        <button class="slide-indicator transparent button" data-slide="products">{{ the_product }}</button>
        <button class="slide-indicator transparent button" data-slide="accounts">{{ the_account }}</button>
    </div>
    <hr class="spacer">
    <div hidden>
        <input type="search" id="item-search" placeholder="{% translate "Search" %}" autocomplete="off">
    </div>
    <hr class="spacer">
    <label class="icon-checkbox icon-button opaque p-sm text-big">
        <input type="checkbox" class="css-hidden" id="lock-account" autocomplete="off">
        {% icon "user-lock" %}
    </label>
    <label class="icon-checkbox icon-button opaque text-big p-sm">
        <input type="checkbox" class="css-hidden" name="invert_member" form="new-transaction">
        {% icon "badge-update" %}
    </label>
    <div id="transaction-multiplier" class="hstack p-s gap-s text-big">
        <button type="button" class="icon-button text-small" data-increment="-1">
            {% icon "minus" %}
        </button>
        <span class="css-hidden" aria-hidden="true" inputmode="numeric" contenteditable>1</span>
        <label>
            <span class="visually-hidden">{% translate "Amount:" %}</span>
            <input type="number" name="amount" value="1" form="new-transaction" min="1">
        </label>
        <button type="button" class="icon-button text-small" data-increment="1">
            {% icon "plus" %}
        </button>
    </div>
</div>
<div id="tabs" class="slideshow" data-active-slide="products">
    <div class="slide group-list ph-m" id="products" data-slide="products">
        <h2 class="visually-hidden">{{ the_product }}</h2>
        {% include 'ledger/snippets/products.html' with items=product_list target_form="new-transaction" %}
    </div>
    
    <div class="slide group-list ph-m" id="accounts" data-slide="accounts">
        <h2 class="visually-hidden">{{ the_account }}</h2>
        {% include 'ledger/snippets/accounts.html' with items=account_list target_form="new-transaction" %}
    </div>
</div>
<form action="/transaction/order/" id="new-transaction" class="transaction" method="POST">
	{% csrf_token %}
	<input type="hidden" name="idempotency-key" value="{{ idempotency_key }}">

	<span class="account">
		<output name="selected_account" value=""></output>
		<span class="empty">{% translate "Select account" %}</span>
	</span>
	<span class="product reason">
		<output name="selected_product" value=""></output>
		<span class="empty">{% translate "Select product" %}</span>
	</span>

	<button type="reset" class="undo icon-button">
        {% icon "trash-2" %}
	</button>

	<label class="icon-button" id="expand">
		<input type="checkbox">
        {% icon "chevron-up" %}
	</label>

	<button type="submit" class="slim transparent center button">
        {% icon "forward" %}
	</button>
</form>
<div>
	<h2 class="visually-hidden">{% translate "Transactions" %}</h2>
	<form id="transaction-revert" action="{% url 'ledger:transaction_revert' %}" method="POST" >
		{% csrf_token %}
		{% idempotency_key %}
	<ul id="transactions">
		{% include 'ledger/snippets/transaction_history.html' with transactions=transaction_list revert_form="transaction-revert" %}
	</ul>
	</form>
</div>

{% endblock content %}
