{% extends 'index.html' %}

{% block import %}
	{% load static %}
	{% load ledger %}

	<script src="{% static 'ledger/test.js' %}" defer></script>
{% endblock import %}

{% block content %}

<button id="send-event">
	Send Event
</button>

<button id="event-status">
	EventSource status
</button>

<button id="event-close">
	Disconnect
</button>

<button id="event-open">
	Connect
</button>

<a href="{% url 'ledger:main' %}">Back to main</a>

{% icon "badge" 256 %}

<div>
    {{ request.META }}
</div>

<ul id="event-list">

</ul>

<div>
	
	

</div>

{% endblock content %}
