{% extends 'index.html' %}

{% load static %}
{% load ledger %}
{% load i18n %}

{% block import %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'blackbook/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'ledger/pretty-forms.css' %}">
    <script type="module" src="{% static 'blackbook/edit.js' %}"></script>
{% endblock import %}

{% block content %}

<article>
    <form method="POST" class="pretty-form">
        {% csrf_token %}
        <div class="group">
            <div>
                {{ form.group.label_tag }}
                {{ form.group }}
                {{ form.group.errors }}
            </div>
        </div>
        <div class="title">
            <h2>
                <div>
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
            </h2>
            <button type="submit" class="slim transparent vcenter button">
                {% icon "save" %}
            </button>
        </div>
        <div>
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="traits">
            <div>
                {{ form.serving_glass.label_tag }}
                {{ form.serving_glass }}
            </div>
            <div>
                {{ form.method.label_tag }}
                {{ form.method }}
            </div>
            <div>
                {{ form.product.label_tag }}
                {{ form.product }}
            </div>
        </div>
        <ol id="steps">
            <template id="step-template">
                {% include 'blackbook/snippets/recipe_step.html' with form=formset.empty_form %}
            </template>
            {{ formset.management_form }}
            <li>
                <span>
                    <label class="button vcenter slim transparent">
                        <input type="checkbox" id="order-arrows" style="display: none">
                        {% icon "arrow-up-down" %}
                    </label>
                </span>
                <span>{% trans "Amount" %}</span>
                <span>{% trans "Ingredient" %}</span>
                <span>{% trans "Instruction" %}</span>
            </li>
            {% for step_form in formset %}
            {% include 'blackbook/snippets/recipe_step.html' with form=step_form %}
            {% endfor %}
            <button type="button" id="add-step" class="transparent center vcenter button">
                {% icon "plus" %}
            </button>
        </ol>
    </form>
</article>

{% endblock content %}