{% extends 'ledger/snippets/grouped_item_grid.html' %}

{% load static %}
{% load ledger %}
{% load i18n %}


{% block item %}
{% with account=item %}
{% with current_balance=account.current_balance %}

{% if url %}
	<a href="{% url url account.pk %}"
	class="item"
	data-account-id={{ account.pk }}
	data-balance={{ current_balance }}
	data-credit={{ account.credit }}
	{% if account.member %}data-member{% endif %}
	{% if current_balance|add:account.credit <= 0 %}blocked{% endif %}
	{% if selected.pk == account.pk %}selected{% endif %}>

		<h4 class="name">
			{% if account.member %}
            {% icon "badge" class="badge" %}
			{% endif %}
			{{ account.display_name }}</h4>
		{{ current_balance|money }}
		{% if show_credit %}<span class="credit">{% translate "Credit" %}: {{ account.credit|money }}</span>{% endif %}

	</a>
{% else %}
	<label
	class="item"
	data-account-id={{ account.pk }}
	data-balance={{ current_balance }}
	data-credit={{ account.credit }}
	{% if account.member %}data-member{% endif %}
	{% if current_balance|add:account.credit <= 0 %}blocked{% endif %}>

		<h4 class="name">
			<input
				type="radio"
				name="account"
				value="{{ account.pk }}"
				autocomplete="off"
				{% if selected.pk == account.pk %}checked{% endif %}
				{% if target_form %}form="{{ target_form }}"{% endif %}
				{% if current_balance|add:account.credit <= 0 %}disabled{% endif %}>
				{% if account.member %}
			{% icon "badge" class="badge" %}
			{% endif %}
			{{ account.display_name }}
		</h4>
		{{ current_balance|money }}
		{% if show_credit %}<span class="credit">{% translate "Credit" %}: {{ account.credit|money }}</span>{% endif %}
		
</label>
{% endif %}

{% endwith %}
{% endwith %}
{% endblock item %}

{% block unnamed_items %}
{% if create_account %}
<a href="{% url 'account_create' %}" class="item new">
	{% icon "plus" %}
</a>
{% endif %}
{% endblock unnamed_items %}
