{% extends 'ledger/snippets/grouped_item_grid.html' %}

{% load static %}
{% load ledger %}

{% block item %}
{% with product=item %}

{% if url %}
	<a href="{% url url product.pk %}"
	class="item"
	role="listitem"
	data-product-id={{ product.pk }}
	data-cost={{ product.cost }}
	data-member-cost={{ product.member_cost }}
	{% if selected.pk == product.pk %}selected{% endif %}>	

		<h4 class="name">{{ product.display_name }}</h4>
		<div class="price">
			{{ product.cost|money }}
			{% if product.cost != product.member_cost %}
			{{ product.member_cost|money }}
			{% endif %}
		</div>

	</a>
{% else %}
	<label
	class="item"
	role="listitem"
	data-product-id={{ product.pk }}
	data-cost={{ product.cost }}
	data-member-cost={{ product.member_cost }}>
		
		<h4 class="name">
			<input
				type="radio"
				name="product"
				value="{{ product.pk }}"
				autocomplete="off"
				{% if selected.pk == product.pk %}checked{% endif %}
				{% if target_form %}form="{{ target_form }}"{% endif %}>
			{{ product.display_name }}
		</h4>
		<span class="price">
			{{ product.cost|money }}
			{% if product.cost != product.member_cost %}
			{{ product.member_cost|money }}
			{% endif %}
		</span>

	</label>
{% endif %}

{% endwith %}
{% endblock item %}
