{% comment %}
	Snippet for displaying transactions

	Use like
		<ul id="transactions">
			{% include 'snippets/transaction_history.html' %}
		</ul>
	Or
		<ul id="transactions">
			{% include 'transaction_history.html' with headless=True %}
		</ul>
	If `headless` is not defined or false, this snippet also includes
		transaction.js
		transaction_history.css
{% endcomment %}
{% load i18n %}

{% load_icons 'undo-2' class="visually-hidden" %}

<template id="transaction-template">
	{% include 'ledger/snippets/transaction.html' with transaction=None %}
</template>

{% for transaction in transactions %}
	{% include 'ledger/snippets/transaction.html' with transaction=transaction %}
{% empty %}
	<span class="separator" id="no-transactions">{% translate "No transactions found" %}</span>
{% endfor %}

