{% comment %}
	Snippet for displaying transactions

	Use like
		<ul id="transactions">
			{% include 'snippets/transaction_history.html' %}
		</ul>
	Or
		<ul id="transactions">
			{% include 'transaction_history.html' with headless=True %}
		</ul>
	If `headless` is not defined or false, this snippet also includes
		transaction.js
		transaction_history.css
{% endcomment %}
{% load ledger %}
{% load static %}

<template id="transaction-template">
	{% include 'ledger/snippets/transaction.html' with transaction=None only %}
</template>

<form id="transaction-revert" action="{% url 'transaction_revert' %}" method="POST" >
	{% csrf_token %}
	{% idempotency_key %}
</form>

{% for transaction in transactions %}
	{% include 'ledger/snippets/transaction.html' with transaction=transaction only %}
{% empty %}
	<span class="separator" id="no-transactions">Keine Transaktionen gefunden</span>
{% endfor %}

