{% load ledger %}

{% if transaction.timejump_after %}
	<span class="separator before">{{ transaction.timestamp|date:"l, d. F Y H:i" }}</span>
{% endif %}

<li class="transaction" data-transaction-id>
	<span class="account">{{ transaction.account.display_name }}</span>
	<span class="reason">{{ transaction.reason }}</span>
    {{ transaction.fp_amount|default:0|money }}
	<span class="time">{{ transaction.timestamp }}</span>


	{% if revert_form %}
	<button
	type="submit"
	form="{{ revert_form }}"
	name="transaction" value="{{ transaction.pk }}"
	class="undo transparent slim center button"
	{% if transaction.allow_revert == False %}disabled{% endif %}>
        {% icon "undo-2" %}
	</button>
	{% endif %}

	{% if transaction is None %}
	<div class="status" data-status="pending">
		<svg data-status="pending" viewBox="0 0 12 12">
			<circle cx="6" cy="6" r="5"/>
		</svg>
		<svg data-status="success" viewBox="0 0 12 12">
			<polyline points="1.5 7 4 9 10 2"/>
		</svg>
		<svg data-status="failure" viewBox="0 0 12 12">
			<polyline points="3 9 9 3"/>
			<polyline points="3 3 9 9"/>
		</svg>
	</div>
	{% endif %}
</li>

{% if transaction.timejump_before %}
	<span class="separator after">{{ transaction.timestamp|date:"l, d. F Y H:i" }}</span>
{% endif %}