<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock title %}</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'base.css' %}">
	<link rel="manifest" href="{% static 'manifest.json' %}">
	<meta
		name="theme-color"
		content="rgb(255, 255, 255)"
		media="(prefers-color-scheme: light)" />
	<meta
		name="theme-color"
		content="rgb(30, 30, 30)"
		media="(prefers-color-scheme: dark)" />

	{% block import %}{% endblock import %}
</head>
<body>
	{% block header %}{% endblock header %}
	{% block content %}{% endblock content %}
</body>
</html>