/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	transition-duration: 0.01ms !important;
	scroll-behavior: auto !important;
  }
}

/* END OF RESET */

:root {
	--positive-color: light-dark(rgb(47, 146, 47), rgb(0, 85, 0));
	--negative-color: light-dark(rgb(228, 109, 109), rgb(146, 37, 37));

	--primary-bg-color: light-dark(rgb(243, 243, 243), rgb(18, 18, 18));
	--secondary-bg-color: light-dark(rgb(255, 255, 255), rgb(30, 30, 30));
	--selected-color: var(--positive-color);
	--separator-color: light-dark(rgb(204, 204, 204), rgb(41, 41, 41));
	
	--highlight-color: light-dark(black, white);
	
	--primary-text-color: light-dark(rgb(0, 0, 0), rgb(190, 190, 190));
	--secondary-text-color: light-dark(rgb(100, 100, 100), rgb(117, 117, 117));
	--disabled-text-color: light-dark(rgb(141, 141, 141), rgb(78, 78, 78));
	--headline-text-color: light-dark(rgb(24, 24, 24), rgb(160, 160, 160));
	
	/* pretty-forms */
	--input-background: var(--secondary-bg-color);
	--input-border: var(--disabled-text-color);
	--input-border-selected: var(--selected-color);
	--input-label: var(--secondary-text-color);
	--input-label-selected: color-mix(in srgb, var(--input-border-selected), var(--highlight-color) 40%);
	--input-fieldset-separator: rgb(77, 77, 77);

    /* Markdown Colors */

    --md-heading-border: var(--separator-color);
    --md-code-bg: light-dark(rgb(231, 231, 231), rgb(29, 29, 29));
    --md-blockquote-bg: color-mix(in srgb, var(--secondary-bg-color), transparent 50%);
    --md-blockquote-border: light-dark(rgb(212, 212, 212), rgb(65, 65, 65));
    --md-admonition-default: gray;
    --md-admonition-info: light-dark(rgb(109, 180, 228), rgb(0, 98, 190));
    --md-admonition-tip: light-dark(rgb(113, 190, 62), rgb(57, 179, 27));
    --md-admonition-important: light-dark(rgb(147, 105, 224), rgb(120, 60, 216));
    --md-admonition-warning: light-dark(rgb(214, 185, 18), rgb(170, 135, 19));
    --md-admonition-caution: var(--negative-color);
    --md-mark: light-dark(rgba(228, 206, 109, 0.5), rgba(109, 103, 50, 0.5));
    --md-footnote-highlight: var(--md-mark);


	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.9rem;


	@media screen and (min-width: 700px) {
		& {
			font-size: 1rem;
		}
	}
}

html,
body {
	overflow: hidden;
}

body {
	padding: 0;
	background: var(--primary-bg-color);
	color: var(--primary-text-color);
	max-width: 100vw;

    touch-action: manipulation;

	display: flex;
	flex-flow: column;
	justify-content: stretch;
	height: 100vh;
}

main {
	flex: 1;
	min-height: 0;
}

header {
	background-color: var(--secondary-bg-color);
	display: grid;
	grid-template: 
		"title user" min-content / auto max-content;
	grid-auto-rows: auto;
	align-items: center;
	gap: 0.5em 1em;
	width: 100%;

	padding: 0.5em 1em;

	& #links {
		padding: 0;
		margin: 0;
		grid-area: title;
		display: contents;
		gap: 0.5em 2em;

		& #link-hamburger {
			order: -1;

			input[type="checkbox"] {
				display: none;
			}
		}

		& ul {
			display: contents;
			list-style: none;
		}

		@media screen and (min-width: 700px) {
			& {
				display: flex;
				flex-flow: row;
				align-items: baseline;
				justify-content: flex-start;
				overflow-x: auto;

				text-wrap: nowrap;
				scrollbar-width: thin;
			}
		
			& #link-hamburger {
				display: none;
			}
		}

		@media screen and (max-width: 699px) {
			&:has(#link-hamburger input:not(:checked)) li {
				display: none;
			}

			& li {
				grid-column: 1;
			}

			& .spacer {
				display: none;
			}

			& h1 {
				order: -1;
			}
		}

		& h1 {
			grid-row: 1;
			display: flex;
			flex-flow: row;
			align-items: center;
			gap: 0.5em;
			font-size: 125%;

		}

		& h1,
		& a {
			padding: 0;
			margin: 0;
			font-variant: small-caps;
			letter-spacing: 10%;
		}

		& a {
			text-decoration: none;
			color: var(--secondary-text-color);
		}
	}
}

#user-info {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 0 0.25em;
	font-size: 100%;
	grid-area: user;

	position: relative;


	& #extra-buttons {
		display: none;
	}

	@media screen and (min-width: 700px) {
		& {
			align-self: first baseline;
		}

		& #extra-buttons {
			display: contents;
		}
	}

	& a {
		color: var(--primary-text-color);
	}

	#user-menu {
		position: absolute;
		right: 0;
		top: calc(100% + 1em);
		z-index: 5;
		width: max-content;
		padding: 0.5em;
		margin: 0;
		list-style: none;
		background-color: var(--secondary-bg-color);
		box-shadow: 0 1px 5px 1px var(--separator-color);

		display: flex;
		flex-flow: column;
		gap: 0.25em;

		& a,
		& button {
			width: 100%;
		}

		& a {
			color: currentColor;
			text-decoration: none;
		}

		& svg {
			display: inline;
			margin-right: 0.75em;
		}

		& > span.separator {
			border-top: thin solid var(--separator-color);
		}
	}

	&:has(#user-menu-toggle input:not(:checked)) #user-menu {
		display: none;
	}

	& #user-menu-toggle svg {
		margin-right: 0.25em;
	}
}


.money {
	&::after {
		content: "€";
		margin-left: 0.25ch;	
	}
	
	&.negative {
		color: rgb(206, 95, 95);
	}
	
	& .fraction,
    & .decimal-separator {
		font-size: 75%;
	}
}

.button {
	--bg: var(--secondary-bg-color);
	color: var(--primary-text-color);
	border: none;
	background: var(--bg);
	padding: 0.5em 0.75em;
	margin: 0;
	display: block;
	
	@media (hover: hover) {
		&:not([disabled]):hover {
			background: color-mix(in srgb, var(--bg), var(--highlight-color) 10%);
		}
	}
	
	&.primary {
		--bg: var(--selected-color);
	}
	
	&.transparent {
		--bg: transparent;
	}

	&.slim {
		padding: 4px;
	}

	&.thin {
		padding: 0.25em 0.5em;
	}

	&.center {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
        gap: 0.25em;
	}
    
    &.inline-center {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 0.25em;
    }
	
	&.vcenter {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
        gap: 0.25em;
	}

	&[disabled] {
		opacity: 30%;
	}
}

.badge {
	color: color-mix(in srgb, var(--selected-color), var(--highlight-color) 25%);
}

.lucide {
	width: 1.25em;
	height: 1.25em;
}

.spacer {
	flex-grow: 1;
}

.css-hidden,
.css-hide {
	display: none !important;
}

.js-show[hidden] {
    display: none !important;
}

:where(.css-show[hidden]) {
    display: initial;
}

.visually-hidden {
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	position: absolute;
}

