{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block tab_title %}{% translate "Login" %}{% endblock tab_title %}

{% block import %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'pretty-forms.css' %}">

<style>
    body {
        display: grid;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
	main {
		display: flex;
		flex-flow: column nowrap;
		padding: 2em 4em;
		background: var(--secondary-bg-color);
		gap: 1em;
	}
	h1 {
		font-size: 200%;
		text-align: center;
	}
	.note {
		font-size: 85%;
		color: color-mix(in srgb, var(--secondary-text-color), red 60%);
		text-align: center;
	}


</style>

{% endblock import %}

{% block body %}
<main>
	<h1>{%translate "User Login" %}</h1>
	{% if form.errors %}
	<p class="note">
		{% blocktranslate %}
		Wrong username or password.<br>
		Please try again.
		{% endblocktranslate %}
	</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
		<p class="note">
			{% blocktranslate %}
			Your don't have access to this page.<br>
			Login with an account that has access.
			{% endblocktranslate %}
		</p>
		{% endif %}
	{% endif %}

	<form method="post" action="{% url 'login' %}" class="pretty-form vstack gap-l">
		{% csrf_token %}

        <div>{{ form.username.as_field_group }}</div>
        <div>{{ form.password.as_field_group }}</div>

		<button type="submit" class="primary button p-m">{% translate "Login" %}</button>
		<input type="hidden" name="next" value="{{ next }}">
	</form>	
</main>
{% endblock body %}

